@model ZombieTypeVM
@{
    ViewData["Title"] = "Details";
}

<h1>Type: @Model.ZombieType.TypeName</h1>
<h3>Nombre de zombies: @Model.ZombiesCount</h3>
<h3>Moyenne des points: @Model.PointsAverage</h3>
<div class="row">
    @*  POUR CHAQUE ZOMBIE:*@
    @foreach (var item in Model.ZombiesList)
    {
        <div href="#" class="card  border m-3 text-center bg-warning" style="width: 20rem; background-image: url('/images/imagesLayout/Fond.png'); ">
            <div class="card-body  text-warning">
                <h3 class="card-title">@item.Name</h3>
                <h5>@item.Point</h5>
            </div>
        </div>
    }

</div>
@* SI AUCUN ZOMBIE ASSOCIÉ*@
@if (Model.ZombiesList.Count == 0)
{
    <div class="alert alert-danger">No associated zombie for this type</div>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
